﻿@page "/grid"
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using BlazorApp1.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@if (_task.IsCompleted)
{
    <GridComponent T="Weather" Grid="@_grid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}



@code {
    private WeatherForecast[] forecasts;

    private Weather[] forecastgrid;

    private CGrid<Weather> _grid;
    private Task _task;

    public static Action<IGridColumnCollection<Weather>> Columns = c =>
    {
        c.Add(o => o.date);
        // c.Add(o => o.date, "OrderCustomDate").Format("{0:yyyy-MM-dd}");
        c.Add(o => o.summary);
        c.Add(o => o.temperatureC);
    };

    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    //}

    protected override async Task OnParametersSetAsync()
    {
        string url = "https://localhost:44399/WeatherForecast";

        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "2");

        var client = new GridClient<Weather>(Http, url, query, false, "ordersGrid", Columns);
        _grid = client.Grid;

        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
